body{background: #FDFFE0;}
.autoComplete{width: 300px;margin: 0 auto;padding-top: 50px;position: relative;}
.autoComplete input{border:none;border: 1px solid #d6d6d6;height: 40px;padding-left: 10px;border-radius: 5px;width: 100%;}